.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-bg:hover {
  background-color: #323232 !important;
}

.active-nav {
  background-color: #323232 !important;
  border-radius: 10px;
}

/* Grid container for masonry layout */
.building-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Card styling */
.building-card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #044eb0;
}

.card-body {
  background-color: #f8f9fa;
  padding: 10px;
}

/* Responsive iframe container */
.pdf-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.pdf-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

/* Manage heading sizes */
.manage-heading {
  font-size: 30px;
}

@media (max-width: 576px) {
  .manage-heading {
    font-size: 20px;
  }
  .manage-icon {
    font-size: 12px;
  }

  .input-group .form-control {
    display: none;
  }

  .input-group .form-control.show {
    display: block;
  }

  .d-md-flex {
    flex-direction: column;
  }

  .manage-nav .nav-link {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .manage-nav .btn-danger {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  .modal-dialog {
    margin: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .d-md-flex {
    flex-direction: row;
  }

  .manage-nav .btn-danger {
    position: static;
    padding: 10px;
  }

  .manage-nav {
    height: 100vh;
  }
}

.input-group-text {
  cursor: pointer;
}
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh; /* Always full height */
  overflow-x: hidden;
}
